<div class="container">

<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" id="styled-form">
  

  <div class="inputs">
    <span class="p-float-label">
      <input pInputText id="firstname" formControlName="firstname" />
      <label htmlFor="firstname">First Name</label>
    </span>
    
    <span class="p-float-label">
      <input pInputText id="lastname" formControlName="lastname" />
      <label htmlFor="lastname">Last Name</label>
    </span>
    
    <span class="p-float-label">
      <input pInputText id="username" formControlName="username" />
      <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label">
      <input type="password" pInputText id="password" formControlName="password" />
      <label htmlFor="password">Password</label>
    </span>
  
    <span class="p-float-label">
      <input pInputText id="email" formControlName="email" />
      <label htmlFor="email">Email</label>
    </span>
  </div>

  <div class="card flex justify-content-center">
    <p-listbox [options]="roles"
               formControlName="roles"
               optionLabel="name"
               [multiple]="true"
               [metaKeySelection]="false">
    </p-listbox>
  </div>

  <p-button type="submit" [disabled]="addUserForm.invalid">Add User</p-button>

</form>

</div>