
.container{
    padding: 5%;
}


.btn{
    margin: 8px;
}

.form-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

